<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "mybatis-3-config.dtd">
<configuration>
    <!--配置日志，打印执行sql及输入参数和返回结果-->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <plugins>
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <!-- 设置使用的数据库方言（数据库类型） -->
            <property name="dialect" value="mysql"/>
        </plugin>
    </plugins>

</configuration>